footer {
    position: relative;
    top: 600px;
    display: flex;
    justify-content: space-between;
    background-color: #F9E0AE; /* Couleur de fond du footer */
    color: #000; /* Couleur du texte */
    padding: 20px;
    margin: 0;
    width: 100%;
    height: 302px;
}