$color-text: #F5F5F5;
$color-black:#1E0C06;
$light-gray-transparent: rgba(245, 245, 245, 0.07);
header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 124px;
    width: 100vw;
    border-radius: 0 0 70px 70px;
    transition: all 0.2s ease;
    .logo {
        margin-left: 60px;
    }
    #navbar{
        margin-right: 60px;
        font-weight: bold;
        color: $color-text;
        li {
            display: inline;
            margin-left: 56px;
        }
    }
}
.navbar-scrolled{
    background-color: $color-black;
    -webkit-box-shadow: 0 4px 54px 0 $light-gray-transparent;
    -moz-box-shadow: 0 4px 54px 0 $light-gray-transparent;
    box-shadow: 0 4px 54px 0 $light-gray-transparent;
    z-index: 40;
}