@use '../layouts/theWoodWeWorkWith.scss';
@use '../layouts/ourWork.scss';
$color-black:#1E0C06;
$light-gray-transparent: rgba(245, 245, 245, 0.07);

body{
    background-image: url("@/img/background_home.svg");
    background-size: auto;
    background-repeat: no-repeat;
}
.parent{
    position: absolute;
    margin-top: 228px;
    height: 714px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #F5F5F5;
    overflow: hidden;
}
.first_element{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 87.55vw;
    height: 714px;
    background-color: $color-black;
    border-top-left-radius: 43px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 43px;
    -webkit-box-shadow: 0 4px 54px 0 $light-gray-transparent;
    -moz-box-shadow: 0 4px 54px 0 $light-gray-transparent;
    box-shadow: 0 4px 54px 0 $light-gray-transparent;
    &::before{
        content: "";
        position: absolute;
        top: 43px;
        left: 634px;
        width: 1px;
        height: 511px;
        background-color: #F5F5F5;

    }
    .flex1{
        background-color: #61ff51;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .flex2{
        background-color: #ff544d;
        width: 50%;
        height: 100%;
    }
    .title{
        margin: 10px 50px 10px;
        width: 322px;
        height: 321px;
        font-size: 90px;
        text-transform: uppercase;
    }

    .subtitle{

        top: 418px;
        left: 62px;
        margin: 0;
        color: #FFDBBB;
        font-size: 30px;
        width: 322px;
        span{
            color: #FFDBBB;
            font-weight: bold;
        }
    }
    .subtitle:nth-of-type(2){
        top: 458px;
    }
    .Order{
        left: 50px;
        top: 554px;
        display: block;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #F5F5F5;
        background-color: #728BAD;
        border-radius: 42px;
        width: 225px;
        height: 58px;
        padding: 10px;
    }
    .img{
        position: absolute;
        top: 43px;
        left: 925px;
        width: 200px;
        height: 200px;
        border-radius: 42px;
    }
    .img:nth-of-type(2){
        position: absolute;
        top: 316px;
        left: 680px;
        width: 200px;
        height: 200px;
        border-radius: 42px;
    }
    .img:nth-of-type(3){
        position: absolute;
        top: 452px;
        left: 925px;
        width: 200px;
        height: 200px;
        border-radius: 42px;
    }
}
