// Couleurs Neutres/Foncées
$color-black:        #1E0C06; // Noir profond
$color-dark-gray:    #222021; // Gris très foncé
$color-slate-gray:   #32353C; // Gris ardoise
$color-medium-gray:  #848891; // Gris moyen

// Couleurs Terre/Taupe
$color-taupe:        #7D746D; // Taupe
$color-light-gray:   #D2C8C6; // Gris clair

// Couleurs Neutres/Beige
$color-beige:        #F1DED0; // Beige


// Couleurs Terre/Bronze
$color-brown-dark:    #664033; // Marron foncé
$color-brown-darker:  #6C200B; // Marron très foncé / Chestnut
$color-brown-medium:  #8E3921; // Marron moyen

// Couleurs Orange/Pêche
$color-orange:        #E1764D; // Orange chaud
$color-peach:         #E59679; // Pêche
$color-orange-bright: #FB9E6E; // Orange vif
$color-peach-light:   #FFC099; // Pêche claire
$color-peach-lightest:#FFDBBB; // Pêche très claire

// Couleurs Bleues/Grises
$color-blue-dark:     #5F7489; // Bleu ardoise foncé
$color-blue-medium:   #728BAD; // Bleu moyen
$color-blue-light:    #A3B8D7; // Bleu clair
$color-blue-lighter:  #D5DCEE; // Bleu très clair
$color-gray-light:    #B0B4BD; // Gris clair

// Couleurs Terre/Neutres
$color-taupe:         #9F8578; // Taupe
$color-beige:         #C8B2A7; // Beige rosé

$color-text: #F5F5F5;